.bg {
    background-image: url("/bg/SCG-Block-chain.webp");
    min-height: 100%;
    min-width: 1024px;
    background-repeat: no-repeat;
    background-size: cover;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.btn-let {
    width: 264px;
    height: 60px;
    border-radius: 6px;
    font-family: "DB Ozone X";
    font-size: 30px;
    background-image: linear-gradient(to bottom, #3e43b5, #280091);
}